<link rel="stylesheet" href="moviles.component.css">

<div style="background-color: rgb(184, 215, 204); 
    text-align: center;">
    <h1>Formulario</h1>
</div>

<br>

<div>
    
    <h2>Lista de móviles
        <button class="button">
            <a routerLink='movile/add/0'>Añadir móvil</a>
        </button>
    </h2>

    <table>
        <thead>
            <th>Id</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let movile of moviles">
                <td>{{ movile.id }}</td>
                <td>{{ movile.marca }}</td>
                <td>{{ movile.modelo }}</td>
                <td><a [routerLink]="['movile/edit', movile.id]">Editar</a></td>
                <td><button class="button" (click)='onDelete(movile.id)'>x</button></td>
            </tr>
        </tbody>
    </table>

</div>